*{
    margin: 0px;
    padding: 0px;
    cursor: url('./icons/left_ptr.png'), pointer;
    touch-action: manipulation;
}

body{
    background-color: black;
}

.textWhite{
    color: white;
}

.fontOpenSans{
    font-family: 'Open Sans', sans-serif;
}

.fontMontserrat{
    font-family: 'Montserrat', sans-serif;
}

#mainNav nav ul li a{
    text-decoration: none;
    margin-right: 50px;
    cursor: url('./icons/hand2.png'), pointer;
}

#mainNav nav ul li{
    list-style-type: none;
    font-size: 19px;
}

#mainNav nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin-right: 170px;
}

#mainNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(48, 48, 48);
    margin-top: 12px;
    padding-bottom: 13px;
}

#h1{
    text-decoration: none;
    cursor: url('./icons/hand2.png'), pointer;
    font-size: 25px;
    margin-left: 210px;
}

#indexDiv ul li a{
    margin-right: 15px;
    height: 32px;
    width: 32px;
}

#indexDiv ul li a img{
    cursor: url('./icons/hand2.png'), pointer;
    height: 32px;
    width: 32px;
    transition: .3s;
}

#indexDiv ul li img:hover{
    transform: translateY(-5px);
    transition: .3s;
}

#indexDiv ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    color: white;
    margin-left: -40px;
}

h2{
    color: white;
    font-family: 'Signika Negative', sans-serif;
    font-size: 50px;
}

#logopng{
    width: 250px;
    height: 250px;
}

#wrapper {
    margin-right: 70px;
    margin-top: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}
