*{
    margin: 0px;
    padding: 0px;
    cursor: url('./icons/left_ptr.png'), pointer;
    touch-action: manipulation;
}

::selection {
    color: none;
    background: none;
}

::-moz-selection {
    color: none;
    background: none;
}

body{
    background-color: black;
}

.textWhite{
    color: white;
}

h2{
    color: white;
}

p{
    color: white;
}

.fontOpenSans{
    font-family: 'Open Sans', sans-serif;
}

.fontMontserrat{
    font-family: 'Montserrat', sans-serif;
}

#mainNav nav ul li a{
    text-decoration: none;
    display: inline-block;
    margin-right: 50px;
    cursor: url('./icons/hand2.png'), pointer;
    transition: .4s;
}

@media only screen and (max-width: 600px) {
    #mainNav nav ul li a{
        margin-right: 10px;
        font-size: 15px;
    }
}

#mainNav nav ul li a:hover{
    color:rgb(163, 93, 2);
    transform: translateY(-1px);
    transition: .3s;
}

#mainNav nav ul li{
    list-style-type: none;
    font-size: 19px;
}

#mainNav nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin-right: 10px;
}

#mainNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(48, 48, 48);
    margin-top: 12px;
    padding-bottom: 13px;
}

#h1{
    text-decoration: none;
    cursor: url('./icons/hand2.png'), pointer;
    font-size: 25px;
    margin-left: 210px;
}

@media only screen and (max-width: 600px) {
    #h1{
        margin-left: 10px;
    }
}


#indexDiv ul li a{
    margin-right: 15px;
    height: 32px;
    width: 32px;
}

#indexDiv ul li a img{
    cursor: url('./icons/hand2.png'), pointer;
    height: 32px;
    width: 32px;
    transition: .3s;
}

#indexDiv ul li img:hover{
    transform: translateY(-5px);
    transition: .3s;
}

#indexDiv ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    color: white;
    margin-left: -40px;
}

#logopng{
    width: 250px;
    height: 250px;
}

#wrapper {
    margin-right: 70px;
    margin-top: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper h2 {
    color: white;
    font-family: 'Signika Negative', sans-serif;
    font-size: 50px;
}

#aboutDiv {
    color: white;
    margin-top: 100px;
}

@media only screen and (max-width: 600px) {
    #aboutDiv{
        margin-top: 70px;
    }
}

#aboutDiv h2 {
    text-align: center;
    font-size: 50px;
}

#aboutText {
    margin-top: 100px;
    margin-left: 120px;
    margin-right: 120px;
}

@media only screen and (max-width: 600px) {
    #aboutText{
        margin-left: 10px;
        margin-right: 10px;
    }
}

#aboutText p {
    font-size: 25px;
}

#aboutText p a{
    text-decoration: none;
}

#aboutText h3{
    margin-top: 60px;
    text-align: center;
    font-size: 40px;
}

#aboutText ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

#technologies {
    border-radius: 6px;
    border: 1px solid rgb(48, 48, 48);
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    justify-content: center;
}

#technologies ul{
    display: flex;
    overflow: auto;
    transition: max-height 0.5s ease;
}

#technologies ul li img{
    padding-top: 2px;
    margin-top: 2px;
    width: 38px;
    height: 38px;
    margin-right: 10px;
}

#technologies ul li{
    list-style: none;
}

#technologies ul li div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#technologies ul li div {
    display: block;
    width: 100%;
    height: auto;
}



.clrGold{
    color: rgb(192, 125, 38)
}

.hand2{
    cursor: url('./icons/hand2.png'), pointer;
}

#contacts{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contacts span{
    margin-right: 100px;
}

#contacts ul{
    list-style-type: none;
    display: block;
}

#contacts ul li svg{
    width: 32px;
    height: 32px;
    margin-right: 7px;
}

#contacts ul li img{
    width: 32px;
    height: 32px;
    margin-right: 7px;
}

#contacts ul li{
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

#contacts ul li a{
    text-decoration: none;
    font-size: 25px;
}

#linktreeDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    width: 100%;
    margin-left: 18px;
}

#linktree{
    text-align: center;
    margin-top: 100px;
}

#linktree h2{
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    margin-bottom: 50px;
}

#linktreeDiv ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

#linktreeDiv li{
    flex: 0 0 15%;
    max-width: 20%;
}

.linkDiv{
    transition: .3s;
    display: flex;
    margin-bottom: 45px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    color:white;
    width: 220px;
    height: 50px;
    border: 2px solid rgb(48, 48, 48);
    border-radius: 10px;
}

.linkDiv p{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 2px;
    color: rgb(224, 224, 224)
}

#linktreeDiv ul li a{
    text-decoration: none;
}

.linkDiv:hover{
    transform: translateY(-3px);
    transition: .3s;
}
