---
import Layout from '@layouts/Layout.astro';
import Navbar from "@layouts/navBar.astro";
import { socials } from "~/config";
---

<Layout>
	<div id="bg" class="bg-snow">
		<Navbar />
		<div id="wrapper">
			<div id="wrapper2">
				<div class="flex flex-col items-center">
					<h2>Hello, I'm <b id="h1Name"></b></h2>
					<p class="text-slate-400">Developer</p>
				</div>
				<div id="indexDiv" class="mt-2">
					<ul>
						{
						socials.map((social) => (
							<li class="mr-3 pt-3">
								<a href={social.link} title={social.name}>
									<img
									src={`/icons/${social.icon}`}
									alt={`${social.name} icon`}
									/>
								</a>
							</li>
						))
						}
					</ul>
				</div>
			</div>
			<!-- <div class="w-[340px]">
				<iframe id="spotifyI" style="border-radius:12px" src="https://open.spotify.com/embed/track/5EtqKQZ9cAPZ1zoaRGUlCL" width="100%" height="80" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
			</div> -->
		</div>
	</div>
</Layout>
