---
import Layout from '@layouts/Layout.astro';
import Navbar from "@layouts/navBar.astro";
import { socials } from "~/config";
---

<Layout>
	<Navbar />
	<div id="wrapper">
		<img id="logopng" src="/icons/logo.png">
		<div id="wrapper2">
			<h2><b>XAP3X_</b></h2>
			<div id="indexDiv">
				<br>
				<ul>
					{
					socials.map((social) => (
						<li>
							<a href={social.link} title={social.name}>
								<img
								src={`/icons/${social.icon}`}
								alt={`${social.name} icon`}
								/>
							</a>
						</li>
					))
					}
				</ul>
			</div>
		</div>
	</div>
</Layout>