---
const navItems = [
    {
      name: "Home",
      link: "/",
    },
    {
      name: "About",
      link: "/about",
    },
    {
      name: "Linktree",
      link: "/linktree",
    },
  ];
import { site } from "../config";
---

<div id="mainNav">
    <a href="/" id="h1" class="header textWhite fontOpenSans">{site.header}</a>
    <nav>
        <ul>
            {
            navItems.map((item) => (
                <li>
                    <a href={item.link} class="textWhite fontMontserrat">
                    {item.name}
                    
                    </a>
                </li>
                ))
            }
        </ul>
    </nav>
</div>